.selectVisit {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    width: 50%;
    gap: 12px;
    align-items: center;
}

@media (max-width: 1024px) {
	.selectVisit {
        width: 70%;
    }
}

@media (max-width: 580px) {
	.selectVisit {
        width: 100%;
        grid-template-columns: auto;
    }
}
