.metrics {
    display: grid;
    width: 50%;
    gap: 12px;
    margin-top: 12px;
}

@media (max-width: 1400px) {
	.metrics {
        width: 70%;
    }
}

@media (max-width: 700px) {
	.metrics {
        width: 90%;
    }
}
