.thinking {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top: 8px solid #ff2f44;
    border-right: 8px solid #6f10e9;
    border-bottom: 8px solid #37ff69;
    border-left: 8px solid #3e95ff;
    animation: spin 0.9s linear infinite;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.text {
    color: var(--darkLight);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
