@use '../../app/shared';

.timelineRow {
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
    width: 90%;
    align-items: center;
    padding: 24px 8px;
    border-radius: 8px;
    border-bottom: 1px solid var(--light);

    .date {
        font-size: 16px;
        font-weight: 500;
    }

    span {
        font-size: 14px;
        font-weight: 400;
    }
}

.isBrightness {
    cursor: pointer;

    @include shared.transition;
    @include shared.brightnessBackground;
}

.lcpSection {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: left;
    align-items: center;
    gap: 12px
}
