@use '../../app/shared';

.button {
    width: 100%;
    height: 32px;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    background: var(--primary);
    color: var(--white);
    font-weight: 600;

    @include shared.transition;
    @include shared.brightness;
}

@media (max-width: 300px) {
	.button {
        max-width: none;
    }
}
