.layout {
    display: grid;
    width: calc(100% - 48px);
    padding: 0 24px 24px 24px;
    gap: 12px;
}

@media (max-width: 1024px) {
    .layout {
        width: calc(100% - 32px);
        padding: 0 16px 16px 16px;
    }
}

@media (max-width: 580px) {
    .layout {
        width: calc(100% - 24px);
        padding: 0 12px 12px 12px;
    }
}