.metricDisplay {
    display: grid;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600 !important;
    background: var(--good);
    border: 1px solid var(--darkGood);
    color: var(--dark);
    border-radius: 8;
}

.bad {
    background: var(--bad);
    border: 2px solid var(--darkBad);
}
