@use '../../app/shared';

.header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--light);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 24px;

    a {
        width: fit-content;
        color: var(--darkLight);

        @include shared.transition;
        @include shared.brightness;
    }

    .active {
        color: var(--primary);
    }
}
